# npm 国内镜像配置
registry=https://registry.npmmirror.com

# 依赖包镜像
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
electron_mirror=https://npmmirror.com/mirrors/electron/
puppeteer_download_host=https://npmmirror.com/mirrors
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors

# 性能优化
prefer-offline=true
audit=false
fund=false
