[Desktop Entry]
Name=Grain
Comment=Minimal novel writing editor built with Tauri, React, and SQLite
Exec=grain
Icon=icon
Type=Application
Categories=Utility;

