[Desktop Entry]
Name=Novel Editor
Comment=一个现代化的小说编辑器
Exec=novel-editor
Icon=${SNAP}/meta/gui/novel-editor.png
Terminal=false
Type=Application
Categories=Office;WordProcessor;
Keywords=novel;editor;writing;
StartupWMClass=novel-editor
